# wap to know number is positive negative or zero

In [5]:
x=6
if x>0:
    print('pos')
elif x<0:
    print('neg')
else:
    print('Zero')

pos

In [11]:
 y=10
if y>5:
    print('M')
elif y>4:
    print('k')
elif y>7:
    print('H')
else:
    print('0')

M

In [43]:
x='telangana'
x='tiger'
x='tan'
x

'tan'

In [45]:
x='lion'
x='mumbai'
x

'mumbai'

In [47]:
s='anantapur'
type(s)

str

In [49]:
s[3]

'n'

In [51]:
s[-3]

'p'

In [53]:
x='telangana'
if x[0]=='t' or x[0]=='T' :
    print('Yes')
else:
    print('No')
    x='apple'
    s,h,m

Yes

In [59]:
x[0].lower()=='t'

True

In [67]:
if x[0]=='s' or x[0]=='S'or x[0]=='m'or x[0]=='M'or x[0]=='h' or x[0]=='H':
    print('Yes')
else:
    print('No')

No